@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
    padding: 1rem 8rem;
    @include flex (space-between, center);
    @include mobile {
        padding: 1rem;
        @include flex(center, center, column);
        gap: 1rem;
    }
    @include tablet {
        padding: 1rem 2rem;
    }
    &__buttons {
        @include flex (space-between);
        gap: 1rem;
    }
}