@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.category {
    padding: 2rem 8rem;
    position: relative;
    @include mobile {
        padding: 2rem;
    }
    @include tablet {
        padding: 2rem;
        margin: auto;
        max-width: 50rem;
    }
    &__navigation {
        @include flex (space-between);
        gap: 2rem;
        @include mobile {
            gap: 1rem;
        }
    }
    &__back-arrow {
        height: 3.125rem;
    }
    &__main-container {
        @include glass-div;
        padding: 2rem 4rem;
        position: relative;
        height: 80vh;
        @include mobile {
            padding: 1rem 2rem;
            height: 60vh;
        }
        @include tablet {
            height: 100vh;
        }
    }
    &__header {
        @include flex (flex-start);
    }
    &__title {
        padding-left: 8rem;
        margin: 0;
        margin-bottom: 1rem;
        @include mobile {
            padding-left: 7rem;
        }
    }
    &__content-wrapper {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 60vh;
        &::-webkit-scrollbar {
            width: .625rem;
        }
        &::-webkit-scrollbar-track {
            border-radius: 5px;
            background: rgba(255, 255, 255, 0.30); 
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background: rgba(255, 255, 255, 0.50);
        }
        @include mobile {
            height: 40vh;
        }
        @include tablet {
            height: 80vh;
        }
    }
    &__subtitle {
        padding: 0.5rem 0;
        margin: 0;
        margin-top: 1rem;
    }
    &__icon {
        position: absolute;
        top: -2rem;
        left: -2rem;
        @include mobile {
            height: 6rem;
        }
    }
    &__blob {
        position: absolute;
        top: 6rem;
        left: 16rem;
        z-index: -1;
        width: 60vw;
        animation: $float;
        @include mobile {
            width: 100%;
            top: 12rem;
            left: 0;
        }
        @include tablet {
            width: 100%;
            top: 10rem;
            left: 0;
        }
    }
}
