@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.category {
    padding: 5rem 8rem;
    position: relative;
    &__link {
        position: absolute;
        top: 0;
        left: 8rem;
    }
    &__back-arrow {
        height: 2rem;
    }
    &__main-container {
        @include glass-div;
        padding: 2rem 4rem;
        position: relative;
        height: 80vh;
    }
    &__header {
        @include flex (flex-start);
    }
    &__title {
        padding-left: 8rem;
        margin: 0;
        margin-bottom: 1rem;
    }
    &__content-wrapper {
        overflow-y: scroll;
        height: 60vh;
        &::-webkit-scrollbar {
            width: .625rem;
        }
        &::-webkit-scrollbar-track {
            border-radius: 5px;
            background: rgba(255, 255, 255, 0.30); 
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background: rgba(255, 255, 255, 0.50);
        }
    }
    &__subtitle {
        padding: 0.5rem 0;
        margin: 0;
        margin-top: 1rem;
    }
    &__icon {
        position: absolute;
        top: -2rem;
        left: -2rem;
    }
    &__blob {
        position: absolute;
        top: 1rem;
        left: 16rem;
        z-index: -1;
        width: 60vw;
        animation: $float;
    }
}
