@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.log-in {
    padding: 1rem 8rem;
    @include flex (center, center);
    @include mobile {
        position: relative;
        padding: 1rem;
        @include flex (center, flex-start)
    }
    @include tablet {
        position: relative;
        padding: 10rem 2rem;
        @include flex (center, flex-start)
    }
    &__img-wrapper {
        position: relative;
        @include mobile {
            display: none;
        }
    }
    &__blob {
        position: absolute;
        top: 4rem;
        left: 2rem;
        z-index: -1;
        animation: $float;
    }
    &__mobile-blobs {
        display: none;
        @include mobile {
            display: block;
            position: absolute;
            transform: translate(-50%, 0);
            z-index: -1;
            animation: $float;
        }
    }
    &__tablet-top {
        display: none;
        @include mobile {
            display: none;
        }
        @include tablet {
            display: block;
            position: absolute;
            top: 0;
            left: auto;
            z-index: 2;
        }
    }
    &__tablet-bottom {
        display: none;
        @include mobile {
            display: none;
        }
        @include tablet {
            display: block;
            position: absolute;
            bottom: -0.75rem;
            left: auto;
            z-index: 2;
        }
    }
    &__img-icons {
        position: relative;
        top: 2rem;
        left: 3rem;
        z-index: 2;
        @include tablet {
            display: none;
        }
    }
    &__form {
        @include glass-div;
        width: 45%;
        height: fit-content;
        padding: 2rem 5rem;
        @include flex (flex-start, center, column);
        gap: 1rem;
        @include mobile {
            width: 100%;
            max-width: 25rem;
            padding: 2rem;
        }
        @include tablet {
            width: 100%;
            max-width: 50rem;
        }
    }
    &__title {
        margin: 0;
        padding-top: 1rem;
    }
    &__subheader {
        margin: 0.5rem 0;
    }
    &__field-container {
        @include flex (flex-start, flex-start, column);
        gap: 0.25rem;
        width: 100%;
    }
    &__label {
        padding-left: 0.75rem;
    }
    &__buttons {
        @include flex (center);
        gap: 2rem;
        width: 100%;
        margin: 1.5rem 0;
        @include mobile {
            max-width: 25rem;
        }
    }
    &__button {
        margin-top: 1rem;
        @include mobile {
            width: 95%;
        }
    }
}

.Toastify__toast-body { 
    font-family: 'Lato', sans-serif;
}