@use "./mixins" as *;
@use "./variables" as *;

@font-face {
    font-family: "Lato";
    src:
    local("Lato"),
    url("../../assets/fonts/Lato-Regular.ttf") format("trutype"),
    url("../../assets/fonts/Lato_Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: 
    local("Lato"),
    url("../../assets/fonts/Lato-Bold.ttf") format("truetype"),
    url("../../assets/fonts/Lato_Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

.page-header {
    @include font (2rem, 400);
}

.title {
    @include font (2rem, 700);
}

.category-title {
    @include font (1.5rem, 700);
}

.subtitle {
    @include font (1.25rem, 700);
}

.paragraph {
    @include font (1rem, 400);
}

.label {
    @include font (1rem, 700);
}