@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.page-notfound {
    @include flex (center, center);
    width: 100%;
    padding: 8rem;
    position: relative;
    &__message-container {
        @include glass-div;
        padding: 4rem 6rem;
        @include flex (center, center, column)
    }
    &__random {
        @include flex (center, center, column)
    }
    &__title {
        margin: 0.5rem;
    }
    &__img {
        animation: $float;
        margin: 1rem;
    }
    &__message {
        margin: 0.5rem;
    }
    &__floating-blob {
        position: absolute;
        top: 4rem;
        left: 25vw;
        z-index: -1;
        width: 50%;
        animation: $float;
    }
}

